@charset "UTF-8";
/*
    ** color
*/
$titleColor: #414141;
$subTextColor: #6d635c;
$backgrundColor: rgba(213, 198, 189, 0.15);
$white: #fff;

$primary07: #212121;
$primary06: #404040;
$primary05: #616161;
$primary04: #858585;
$primary03: #ababab;
$primary02: #d2d2d2;
$primary01: #f1f1f1;

$gray09: #212529;
$gray08: #343a40;
$gray07: #495057;
$gray06: #868e96;
$gray05: #adb5bd;
$gray04: #ced4da;
$gray03: #dee2e6;
$gray02: #e9ecef;
$gray01: #f1f3f5;
$gray00: #f8f9fa;

$error-04: #fa4d56;

/* Font */
$krFontFamily: "Pretendard";
$enFontFamily: "Poppins";

$pd-cont: 4.2vw;
$pd-tb: 4.2vw;
$pd-lr: 4.2vw;

$fontLarge: 3.25rem;

$iconSmall: 24px;
$iconMedium: 32px;
$iconLarge: 40px;
$iconXLarge: 48px;
$icon2XLarge: 56px;
